<link rel="stylesheet" href="/styles/restaurants.css">
<nav id="nav">
    <div id="logo-items">
        <image id="logo" width="100px" height="80px"src="/images/logo.png" alt="Logo escrito DkFood"></image>
        <div class="logo-title"><p id="text-item-1">dk</p><p id="text-item-2">food</p></div>
    </div>
</nav>
<main>
    <div id="restaurants">
        <div id="title-restaurants">
            <h1>Aproveite o que tem de melhor perto de você</h1>
            <h2>Conheça nossos parceiros</h2>
        </div>
        <div id="icons-restaurants">
            {{#each restaurantes}}
               <div class="item-restaurant">
                    <div class="box-img-restaurant">
                        <img class="img-restaurant" src={{this.Foto}}>
                    </div>
                    <div class="info-restaurant">
                        <h2>{{this.RestauranteApelido}}</h2>
                    </div>
                </div> 
            {{/each}}
        </div>
    </div>
</main>
<footer>

</footer>
<script src="/scripts/links.js" defer></script>