#title-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2%;
}

#title-restaurants h1, #title-restaurants h2 {
    text-align: center;
}

#title-restaurants h2 {
    color: rgb(209, 207, 207);
}

/*
.item-restaurant
.box-img-restaurant
.info-restaurant
*/

#icons-restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-restaurant {
    max-width: 250px;
    max-height: 360px;
    flex: 1;

    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;

    align-items: center;
    
    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 1px 1px rgb(129, 129, 129);
    background-color: #fff;
    border-radius: 10px;

    padding: 10px;
}

.item-restaurant p {
    text-align: center;
}

.item-restaurant h2 {
    text-align: center;
}

.item-restaurant:hover {
    cursor: pointer;
}

.img-restaurant {
    width: 100px;
    height: 100px;
}

